@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
       <style>
           @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border-box: box-sizing;
}

body {
  font-family: 'Poppins', sans-serif;
}

.curtain {
  /*  2 Contrasting Colors  */
  background-image: linear-gradient(to bottom, white 50%, black 50%);
}
/* To extend till the bottom of the screen */
.curtain::after {
  content: "";
  display: block;
  height: 100vh;
}

.invert {
    /* Stick the div to the top */
    position: sticky;
    top: 20px;

    /* blend the differences */
    mix-blend-mode: difference;

    /* Center the content */
    display: grid;
    place-items: center;
  
    /* Set the height of the child div */
    height: 100vh;
}

h1 {
    /** set the color of the text **/
    color: white;
    font-size: 4rem;
    letter-spacing: 4px;
}
       </style>
    </head>
<body>

<div class="curtain">
  <div class="invert">
    <h1>Raise the Curtains</h1>
  </div>
</div>

</body>
</html>